<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/ae31fdb2-b4db-4f90-9e3f-5970b1ef2675/resourceGroups/PruebaTecnica/providers/Microsoft.Web/sites/TaskManagerV1</ResourceId>
    <ResourceGroup>PruebaTecnica</ResourceGroup>
    <ApiResourceId>/subscriptions/ae31fdb2-b4db-4f90-9e3f-5970b1ef2675/resourceGroups/TaskManager/providers/Microsoft.ApiManagement/service/PruebaBackendapi/apis/PruebaBackend</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://taskmanagerv1-aca2bkfzbqfrega0.westus-01.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>b8fdad82-a1c5-4adc-804e-2cbcbde2bc8a</ProjectGuid>
    <MSDeployServiceURL>taskmanagerv1-aca2bkfzbqfrega0.scm.westus-01.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>TaskManagerV1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>false</InstallAspNetCoreSiteExtension>
    <TargetFramework>net8.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>